<header>
  <div class="container">
    <div class="header-inner">
      <div class="d-flex align-items-center d-md-none burger">
        <img data-v-fe6234bc="" src="./img/menu.png" alt="menu">
      </div>
      <div class="overlley"></div>
      <nav class="menu d-flex d-md-none">
        <div class="position-relative">
          <div class="line-top"></div>
          <div class="line-left"></div>
          <a href="#" class="nav-link">Портфоліо</a>
          <a  href="#" class="nav-link">Комерційна пропозиція</a>
          <a  href="#" class="nav-link">Презентація</a>
        </div>
        <div class="line-bottom"></div>
      </nav>
        <a href="/" class="logo">
          <img src="./img/logo.png" alt="logo">
        </a>
      <div class="d-block d-md-flex align-items-start align-items-md-center block-nav">
        <nav class="navigation">
          <a href="#">Портфоліо</a>
          <a href="#">Комерційна пропозиція</a>
          <a href="#">Презентація</a>
        </nav>
        <div class="tools">
          <a href="./static/text.pdf" download>
            <img src="./img/icon/download.png" alt="download">
          </a>
          <a href="#" id="print">
            <img src="./img/icon/print.png" alt="download">
          </a>
        </div>
        <div class="lang">
          <img src="./img/icon/earth.png" alt="earth">
          <div>
            <select class="nice-select">
              <option value="UKR">UKR</option>
              <option value="RUS">RUS</option>
              <option value="ENG">ENG</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>