* {
  font-family: 'Roboto', sans-serif;
}
a, a:hover {
  color: #000;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}
@media (min-width: 1500px){
  .container{
    max-width: 1440px;
  }
}



header {
  padding: 13px 0 20px;
  border-bottom: 5px solid $red;

  .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo  img{
      height: 59px;
    }
  
    .navigation {
      display: flex;
      margin-right: 100px;
      a {
        font-size: 18px;
        display: block;
        font-weight: 500;
        margin-right: 80px;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.05);
        }
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  
    .tools {
      display: flex;
      align-items: center;
  
      a {
        &:first-child {
          margin-right: 15px;
        }
  
        img {
          height: 28px;
          transition: all 0.3s;
        }
  
        &:hover img {
          transform: scale(1.08);
        }
      }
    }
  
    .lang {
      display: flex;
      align-items: center;
      margin-left: 50px;
  
      img {
        height: 28px;
        margin-right: 13px;
      }
  
      .nice-select {
        border: none;
        padding-left: 0;
        padding-right: 20px;
  
        .current {
          font-size: 18px;
          font-weight: 500;
          height: auto;
          display: block;
          width: 40px;
        }
      }
    }
  }
  @media (max-width: 1199px){
    .header-inner{
      .logo img {
        height: 33px;
      }
      .navigation{
        margin-right: 40px;
        a{
          font-size: 14px;
          margin-right: 40px;
        }
      }
      .tools a img {
        height: 21px;
      }
      .lang {
        margin-left: 40px;
        img {
          height: 21px;
        }
        .nice-select .current {
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 993px){
    .header-inner{
      .logo img {
        height: 30px;
      }
      .navigation{
        margin-right: 30px;
        a{
          font-size: 12px;
          margin-right: 30px;
        }
      }
      .lang {
        margin-left: 30px;
        .nice-select .current {
          font-size: 12px;
        }
      }
    }
  }
  @media (max-width: 767px){
    height: 100px;
    .header-inner{
      .logo img {
        height: 30px;
      }
      .navigation{
        display: none;
      }
      .tools{
        justify-content: center;
        a:first-child{
          margin: 0;
        }
        #print{
          display: none;
        }
      }
      .lang{
        img{
          display: none;
        }
      }
    }
  }
}

.index-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  .bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 180px;
    background-image: url(../img/devices.png);
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-position-x: 90%;
    background-size: 60% auto;
    flex: 1;
    @media(max-width: 1200px) {
      background-size: 110% auto;
      background-position-x: -20%;
      justify-content: flex-start;
    }

    @media(max-width: 767px) {
      padding-top: 10px;
      background-size: 90% auto;
      background-position-x: center;
    }
  }
  .mob-order-2 {
    @media(max-width: 767px) {
      order: 2;
    }
  }

  h1 {
    position: relative;
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 50px;

    &:before {
      position: absolute;
      content: '';
      right: 77%;
      bottom: 3px;
      width: 100vw;
      height: 2px;
      background: $red;
    }

    @media(max-width: 1200px) {
      font-size: 60px;

      &:before {
        width: 100px;
        right: unset;
        left: 0;
        bottom: -5px;
      }
    }

    @media(max-width: 767px) {
      display: none;
    }
  }

  h2 {
    position: relative;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    margin-left: 90px;
    line-height: 1.8;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      width: 105px;
      height: 2px;
      background: $red;
      transform: translateY(-50%);

      @media(max-width: 767px) {
        display: none;
      }
    }
  
    @media(max-width: 1200px) {
      margin-left: 30px;
      font-size: 24px;
      margin-bottom: 20vh;
    }

    @media(max-width: 767px) {
      margin-bottom: 440px;
      font-size: 19px;
      margin-left: 0;
      
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .artwinery-wrap {
    padding-bottom: 60px;

    img {
      max-width: 100%;
    }
  
    @media(max-width: 1200px) {
      width: 180px;
    }

    @media(max-width: 767px) {
      order: 1;
      width: 80%;
      margin: 0 auto;
    }
  }

  .f-img {
    position: absolute;
    right: 18%;
    top: 35px;
    @media(max-width: 1200px) {
      right: 40px;
      top: 30px;
      width: 59%;
    }

    @media(max-width: 767px) {
      right: unset;
      top: unset;
      width: 70%;
      max-width: 240px;
      left: 30px;
      bottom: 20px;
    }
  }
}

.calendar-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .calendar-container {
    display: flex;
    flex-direction: column;
  }

  .flex-1 {
    flex: 1;
  }
  
  .block-function {
    border-right: 1px solid $red-light;
    border-left: 1px solid $red-light;
    width: 100px;
    display: flex;
    justify-content: center;

    .number {
      color: $red-light;
      font-size: 95px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
    }
  }

  h1 {
    font-family: 'Arimo', sans-serif;
    margin: 50px 0 40px 50px;
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      left: -29px;
      bottom: 21px;
      width: 15px;
      height: 15px;
      background-color: $red-light;
    }

    &:after {
      position: absolute;
      content: '';
      height: 1px;
      background-color: $red-light;
      width: 100vw;
      left: calc(100% + 34px);
      bottom: 11px;
    }
  }

  .date-picker-tooltip {
    padding: 5px 15px;
    display: none;
    position: absolute;
    bottom: 69px;
    left: 15px;
    background: #fff;
    z-index: 2;
    width: 110px;
    border: 2px solid $red-light;

    h3 {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-align: center;
      margin: 0;
      margin-bottom: 10px;
      color: #000;
    }

    .hours-wrap span {
      display: block;
      font-size: 14px;
      text-align: center;
      width: 50%;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 7px;
      color: #000;
    }
  }

  .date-picker-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

    * {
      font-family: 'Ubuntu', sans-serif;
    }

    h2 {
      order: 1;
      width: 100%;
      font-size: 23px;
      margin: 0;
      padding: 30px 0 30px 30px;
      font-weight: 700;
      border: 1px solid #e7e6ee;
      border-bottom: none;
    }

    .busy-days-wrap {
      order: 3;
      padding: 10px;
      border: 1px solid #e7e6ee;
      border-top: none;
      display: flex;
      align-items: center;

      .day {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85px;
        height: 85px;
        font-size: 16px;
        font-weight: 700;
        color: #37353c;
        background: $grey;
        color: #fff;
      }

      .label {
        margin: 0;
        font-size: 14px;
        color: #000;
        font-weight: 700;
        margin-left: 15px;
      }
    }

    .fa {
      font-family: 'FontAwesome';
    }

    .dp_previous, .dp_next {
      font-size: 18px;
    }

    .dp_caption {
      font-size: 16px;
      font-weight: 700px;
    }

    .Zebra_DatePicker {
      order: 2;
      padding: 0;
      position: static;
      background: none;
      box-shadow: none;
      border: none;

      .dp_body th, .dp_actions td {
        padding: 20px 0;
        background: none;
      }

      .dp_body th {
        &:first-child {
          border-left: 1px solid #e7e6ee;
        }

        &:last-child {
          border-right: 1px solid #e7e6ee;
        }
      }

      .dp_actions {
        border: 1px solid #e7e6ee;
        margin-bottom: 0;
      }

      .dp_body td {
        position: relative;
        padding: 33px 30px;
        font-size: 16px;
        font-weight: 700;
        color: #37353c;
        border: 1px solid #e7e6ee;
        transition: all 0.3s;
        background: none;
        border-radius: 0;

        &:hover {
          color: $red-light;
          background: none;
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 46px;
          height: 46px;
          background: $red-light;
          z-index: -1;
          opacity: 0;
          transition: all 0.3s;
          border-radius: 100%;
        }

        &.dp_selected {
          color: #fff;
          position: relative;

          &:after {
            opacity: 1;
          }

          .date-picker-tooltip {
            display: block;
          }
        }

        &.dp_disabled {
          background: $grey;
          color: #fff;

          &:hover {
            color: #fff;
          }
        }
      }

      .dp_footer {
        display: none !important;
      }
    }
  }
}

.content-main{
  overflow: hidden;

  .h1-content{
    margin-top: 20px;
    margin-bottom: 70px;
    color: #000000;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    position: relative;

    &::after{
      position: absolute;
      content: '';
      height: 1px;
      color: #000;
      background-color: #c90d0d;
      width: 96%;
      right: -255px;
      bottom: 23px;
    }

    span{
      color: #c90d0d;
      font-size: 95px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      position: relative;
      margin-right: 80px;

      &::before{
        position: absolute;
        content: '';
        right: -70px;
        bottom: 29px;
        width: 15px;
        height: 15px;
        background-color: #c90d0d;
      }
    }
  }

  .text-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .block-content{
      border-left: 2px solid #c90d0d;
      padding-left: 20px;

      .point-content{
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;

        span{
          font-weight: 700;
        }
      }
    }
  }

  .img-block{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 1199px){
    .h1-content{
      font-size: 30px;
      span{
        font-size: 70px;
        margin-right: 60px;
        &::before{
          bottom: 22px;
          left: 75px;
        }
      }
      &::after{
        right: -187px;
        bottom: 20px;
      }
    }
    .text-content{
      flex-direction: column;
      .block-content{
        .point-content{
          font-size: 22px;
        }
      }
    }
  }
  @media (max-width: 767px){
    .h1-content{
      font-size: 24px;
      margin-bottom: 40px;
      span{
        font-size: 67px;
        margin-right: 45px;
        &::before{
          width: 11px;
          height: 11px;
          left: 66px;
        }
      }
      &::after{
        right: -159px;
        bottom: 18px;
      }
    }
    .text-content{
      .block-content{
        .point-content{
          font-size: 14px;
        }
      }
    }
    .img-block{
      img{
        width: 88px;
        height: 95px;
        margin-bottom: 30px;
      }
    }
  }
}

.development-team-main{
  overflow: hidden;
  .block-funtion{
    border-right: 1px solid #c90d0d;
    border-left: 1px solid #c90d0d;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .number{
      color: #c90d0d;
      font-size: 95px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
    }
  }
  .info-development{
    width: 100%;
    padding-bottom: 50px;
    h1{
      margin: 50px 0 40px 50px;
      font-size: 45px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      position: relative;
      font-family: 'Arimo', sans-serif;
      span{
        font-weight: 700;
      }
      &::after{
        position: absolute;
        content: '';
        height: 1px;
        color: #000;
        background-color: #c90d0d;
        width: 100vw;
        left: calc(100% + 34px);
        bottom: 11px;
      }
      &::before{
        position: absolute;
        content: '';
        left: -29px;
        bottom: 21px;    
        width: 15px;
        height: 15px;
        background-color: #c90d0d;
      }
    }
    .team-list{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .list{
        width: 315px;
        height: 164px;
        background-color: #f2f2f2;
        padding-left: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .point{
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: normal;
          position: relative;
          &::before{
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            background-color: #c90d0d;
          }
        }
      }
    }
    .img-work-teams{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    .opportunities-benefits{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      .name-block{
        color: #000000;
        font-size: 36px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        margin-bottom: 50px;
        text-align: center;
      }
      .block-width{
        width: 900px;
      }
      .list-benefits{
        width: 350px;
        .point-benefits{
          margin-bottom: 25px;
          display: flex;
          align-items: center;
          color: #000000;
          font-size: 18px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          img{
            margin-right: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 1199px){
    display: flex;
    flex-direction: column;
    .development-team-container{
      display: flex;
      flex-direction: column;
      flex: 1;
      .flex-1{
        flex: 1;
      }
    }
    .block-funtion{
      width: 77px;
      .number{
        font-size: 70px;
      }
      .teams,
      .monitor{
        img{
          width: 52px;
        }
      }
    }
    .info-development{
      h1{
        margin: 30px 0 30px 50px;
        font-size: 30px;
        &::before{
          bottom: 12px;
        }
      }
      .team-list{
        .list{
          width: 236px;
          height: 123px;
          padding-left: 25px;
          .point{
            font-size: 14px;
            &::before{
              width: 7px;
              height: 7px;
              left: -15px;
            }
          }
        }
      }
      .opportunities-benefits{
        .name-block{
          font-size: 30px; 
        }
        .list-benefits{
          .point-benefits{
            font-size: 14px;
          }
        }
        .block-width { 
          width: 760px;
        }
      }
    }
  }
  @media (max-width: 993px){
    .block-funtion{
      .number{
        font-size: 60px;
      }
    }
    .info-development{
      .img-work-teams{
        img{
          width: 500px;
        }
      }
      .opportunities-benefits{
        .name-block{
          font-size: 25px; 
          margin-bottom: 20px;
        }
        .list-benefits{
          .point-benefits{
            font-size: 12px;
            img{
              margin-right: 10px;
            }
          }
        }
        .block-width { 
          width: 550px;
        }
      }
    }
  }
  @media (max-width: 767px){
    .block-funtion{
      display: none;
    }
    .info-development{
      padding-bottom: 10px;
      .number-page-mob{
        color: #c90d0d;
        font-size: 67px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
      }
      h1{
        font-size: 24px;
        &::before {
          width: 11px;
          height: 11px;
        }
        &::after {
          left: calc(100% - 46px);
        }
      }
      .team-list {
        flex-direction: column;
        .list {
          width: calc(100% + 30px);
          height: 100%;
          padding-top: 15px;
          &:last-child{
            padding-top: 0;
          }
          .point {
            font-size: 12px;
            margin-bottom: 15px;
          }
        }
      }
      .monitor-mobail,
      .teams-mobail{
        margin-top: 10px;
        img{
          width: 45px;
          height: 39px;
        }
      }
      .opportunities-benefits{
        .name-block{
          font-size: 21px;
          margin-bottom: 30px;
        }
        .list-benefits{
          width: unset;
          .point-benefits{
            margin-bottom: 20px;
            font-size: 12px;
            img{
              width: 24px;
              height: 24px;
              margin-right: 15px;
            }
          }
        }
        .block-width { 
          width: unset;
          flex-direction: column;
        }
      }
    }
  }
}

.terms-main{
  overflow: hidden;
  .block-funtion{
    border-right: 1px solid #c90d0d;
    border-left: 1px solid #c90d0d;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .number{
      color: #c90d0d;
      font-size: 95px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
    }
  }
  .info-terms{
    width: 100%;
    padding-bottom: 50px;
    h1{
      margin: 50px 0 40px 50px;
      font-size: 45px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      position: relative;
      font-family: 'Arimo', sans-serif;
      span{
        font-weight: 700;
      }
      &::after{
        position: absolute;
        content: '';
        height: 1px;
        color: #000;
        background-color: #c90d0d;
        width: 100vw;
        left: calc(100% + 34px);
        bottom: 11px;
      }
      &::before{
        position: absolute;
        content: '';
        left: -29px;
        bottom: 21px;    
        width: 15px;
        height: 15px;
        background-color: #c90d0d;
      }
    }
    .block-table{
      display: flex;
      align-items: center;
      justify-content: center;
      .table.table-striped{
        max-width: 848px;
        border-radius: 10px;
        box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
        border: 1px solid #e5e5e5;
        thead{
          height: 60px;
          background-color: #a7a7a7;
          border-top-right-radius: 10px;
          border-radius: 10px 10px 0 0;
          tr th{
            border-right: 10px solid #ffffff;
            height: 50px;
            vertical-align: inherit;
            margin-right: 20px;
            border-radius: 10px 0 0 0;
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            padding: 0 0 0 35px;
            &:last-child{
              border-radius: 0 10px 0 0;
              border: none;
              padding: 0;
              text-align: center;
            }
          }
        }
        tbody{
          tr{
            th, td{
              color: #000000;
              font-size: 15px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              height: 40px;
              border-radius: 0;
              vertical-align: middle;
            }
            th{
              border-right: 10px solid #ffffff;
              padding: 0 0 0 35px;
              &.bg-red{
                background-color: $red;
                color: #ffffff;
                border-radius: 0 0 0 10px;
                border-bottom: 1px solid #fff;
              }
            }
            td{
              text-align: center;
              border-radius: 0;
              &.bg-red{
                background-color: $red;
                color: #ffffff;
                border-bottom: 1px solid #fff;
              }
            }
          }
          tr:nth-of-type(odd) {
            background-color: #fff;
          }
          tr:nth-of-type(even) {
            background-color: #f2f2f2;
          }
        } 
      }
      .table td, .table th {
        border-top: none;
      }
      .table thead th {
        border-bottom: none;
      }
    }
  }
  @media (max-width: 1199px){
    display: flex;
    flex-direction: column;
    .development-team-container{
      display: flex;
      flex-direction: column;
      flex: 1;
      .flex-1{
        flex: 1;
      }
    }
    .block-funtion{
      .number{
        font-size: 70px;
      }
    }
    .info-terms{
      h1{
        margin: 30px 0 30px 50px;
        font-size: 30px;
        &::before{
          bottom: 12px;
        }
      }
      .block-table{
        .table.table-striped{
          max-width: 650px;
          thead{
            tr th{
              font-size: 18px;
            }
          }
          tbody{
            tr{
              th, td{
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 993px){
    .info-terms{
      .block-table{
        .table.table-striped{
          max-width: 500px;
          thead tr th {
            font-size: 12px;
          }
        }
      }
    }
  }
  @media (max-width: 767px){
    .block-funtion{
      display: none;
    }
    .info-terms{
      padding-bottom: 10px;
      .number-page-mob{
        color: #c90d0d;
        font-size: 67px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
      }
      h1{
        font-size: 24px;
        &::before {
          width: 11px;
          height: 11px;
        }
        &::after {
          left: calc(100% - 46px);
        }
      }
      .block-table{
        margin-right: -15px;
        margin-left: -15px;
        .table.table-striped{
          width: 100%;
          max-width: unset;
          thead{
            tr th{
              font-size: 13px;
              max-height: 60px;
              padding: 15px;
            }
            tr th:last-child {
              min-width: 80px;
            }
          }
          tbody{
            tr{
              th, td{
                font-size: 12px;
                padding: 0 0 0 15px;
              }
            }
          }
        }
      }
    }
  }
}

main {
  flex: 1;
}

footer {
  padding: 8px 0;
  border-top: 5px solid $red;

  .footer-inner{
    display: flex;
    justify-content: space-between;
    font-weight: 18;
    font-weight: 500;

    p {
      margin-bottom: 0;
    }
  }
  @media (max-width: 1199px){
    .footer-inner{
      font-size: 14px;
    }
  }
  @media (max-width: 767px){
    height: 69px;
    .footer-inner{
      flex-direction: column;
      align-items: center;
    }
  }
}
