* {
  font-family: 'Open Sans', sans-serif;
}
a, a:hover {
  color: #000;
  text-decoration: none;
}

button:focus {
  outline: none;
}

header {
  .header-block-top{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    background-color: #f0f3f8;
    .user{
      display: flex;
      align-items: center;
      justify-content: center;
      .select-user{
        border: none;
        background-color: none;
      }
    }
    .basket{
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        margin: 0 0 0 5px;
        font-size: 16px;
        color: #454647;
        font-weight: 400;
      }
    }
  }
   
  .heder-block-bottom {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .block-logo{
      a{
        display: block;
        transition: all 0.3s;
        &:hover{
          transform: scale(0.9);
        }
      }
    }
    .block-call-back{
      p.call-back{
        font-size: 15px;
        color: #454647;
        font-weight: 300;
        text-decoration: underline;
        margin-bottom: 10px;
      }
      .phone{
        display: block;
        a{
          display: block;
          font-size: 15px;
          color: #454647;
          font-weight: 400;
          transition: all 0.3s;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .nav-block{
    height: 110px;
    background-color: #f9fafc;
    .nav-inner-block{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .nav-section{
        height: 114px;
        width: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #454647;
        font-weight: 400;
        transition: all 0.3s;
        border-top: 3px solid  #fff;
        img{
          margin-bottom: 20px;
          max-height: 40px;
        }
        &:hover{
          border-color: #ee3346;
          color: #ee3346;
        }
      }
    }

    .header-inner{
     
      .logo{
        flex: 1;
        img{
          height: 59px;
        }
      }
      .block-nav{
        width: 100%;
        .navigation {
          height: 114px;
          width: 100%;
          .nav-section{
            height: 114px;
            width: 12%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            color: #454647;
            font-weight: 400;
            transition: all 0.3s;
            border-top: 3px solid  #fff;
            img{
              margin-bottom: 20px;
              max-height: 40px;
            }
            &:hover{
              border-color: #ee3346;
              color: #ee3346;
            }
          }
          
        }
      }
      
    
      .tools {
        display: flex;
        align-items: center;
    
        a {
          &:first-child {
            margin-right: 15px;
          }
    
          img {
            height: 28px;
            transition: all 0.3s;
          }
    
          &:hover img {
            transform: scale(1.08);
          }
        }
      }
    
      .lang {
        display: flex;
        align-items: center;
        margin-left: 50px;
    
        img {
          height: 28px;
          margin-right: 13px;
        }
    
        .nice-select {
          border: none;
          padding-left: 0;
          padding-right: 20px;
    
          .current {
            font-size: 18px;
            font-weight: 500;
            height: auto;
            display: block;
            width: 40px;
          }
        }
      }
      
    }
  }
}

main.index-main{
  .breadcrumb{
    background-color: #fff;
    .crumb{
      display: block;
      font-size: 15px;
      color: #999999;
      font-weight: 400;
      margin-right: 10px;
      img{
        margin-left: 10px;
      }
      &.active{
        color: #000;
        img{
          display: none;
        }
      }
    }
  }
  .info-block-product{
    margin-top: 60px;
    .about-product{
      h1{
        font-size: 30px;
        color: #0f0f0f;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .id-product{
        font-size: 14px;
        color: #999999;
        font-weight: 400;
      }

      .block-buy{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 45px;
        .price-product{
          display: flex;
          .cost{
            font-size: 40px;
            color: #e92c39;
            font-weight: 300;
            line-height: 1;
          }
          .currency{
            font-size: 18px;
            color: #e92c39;
            font-weight: 300;
            line-height: 1;
          }
        }
        .buy{
          display: flex;
          align-items: center;
          .btn-buy{
            width: 101px;
            height: 48px;
            border: 1px solid #ee3346;
            border-right: 1px solid #d1192c;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #ee3346;
            font-size: 16px;
            color: #ffffff;
            font-weight: 400;
            transition: all 0.3s;
            &:hover{
              background-color: #c01a2b;
            }
          }
          .btn-arrow-buy{
            width: 40px;
            height: 48px;
            border: 1px solid #ee3346;
            border-left: 1px solid #f15767;
            background-color: #ee3346;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            transition: all 0.3s;
            &:hover{
              background-color: #c01a2b;
            }
          }
        }
      }

      .block-img-product{
        margin-top: 30px;
        width: 90%;
        .wrap-img img{
          margin-right: 20px;
        }
        .carousel-product{
          height: 390px;
          background-color: #f5f8fa;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 10px 0;
          .img-carousel{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            
          }
          .btn-next{
            width: 100%;
            border: none;
            background-color: unset;
            cursor: pointer;
          }
          .btn-prev {
            width: 100%;
            border: none;
            background-color: unset;
            cursor: pointer;
            img{
              margin-bottom: 10px;
            }
          }
        }
      }

      .text-info-about-product{
        margin-top: 150px;
        .nav-pills{
          margin-bottom: 40px;
          width: 100%;
          .nav-item{
            width: 25%;
            .nav-link{
              text-align: center;
              font-size: 18px;
              font-weight: 300;
              border-radius: 0%;
              border-bottom: 1px solid #cccccc;
              transition: all 0.3s;
              &.active{
                color: #ee3346;
                background-color: #fff;
                border-bottom: 1px solid #ee3346;
              }
              &:hover{
                color: #ee3346;
              }
            }
          }
        }
        .tab-content{
          .tab-pane{    
            font-size: 16px;
            line-height: 28px;
            color: #0f0f0f;
            font-weight: 400;
          }
        }
      }
    }
    .additional-navigation{
      .catalog-navigation{
        .link-catalog{
          font-size: 16px;
          color: #2b2b2b;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 211px;
          height: 48px;
          border-radius: 10px;
          background-color: #fff;
          border: 1px solid #000000;
          transition: all 0.3s;
          &:hover{
            background-color: #ee3346;
            border-color: #ee3346;
          }
        }
      }
      .accordion{
        margin-top: 30px;
        .card{
          border: none;
          background-color: #fff;
          .card-header{
            padding: 0;
            background-color: #fff;
            border: none;
            .btn-link{
              padding: 0;
              border: none;
              font-size: 18px;
              color: #000000;
              font-weight: 400;
              background-color: #fff;
              transition: all 0.3s;
              display: flex;
              align-items: center;
              line-height: 1;
              img{
                margin-left: 15px;
                transform: rotate(-180deg);
                transition: all 0.3s;
              }
              &.collapsed{
                text-decoration: none;
                img{
                  transform: rotate(0deg);
                }
              }
            }
          }
          .card-body{
            padding: 0;
            a.dop-link{
              display: block;
              margin-top: 30px;
              font-size: 16px;
              color: #000000;
              font-weight: 400;
              transition: all 0.3s;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
        
}

footer{
  height: 30px;
}

@media (max-width: 1199px){
  header {
    .nav-block{
      .nav-section{
        padding: 0 10px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  main.index-main{
    .info-block-product{
      .about-product{
        h1 {
          font-size: 24px;
        }
        .block-img-product{
          .wrap-img{
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .text-info-about-product .nav-pills {
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media (max-width: 993px){
  header {
    .nav-block{
      .nav-section{
        font-size: 12px;
        img{
          max-width: 30px;
        }
      }
    }
  }

  main.index-main{
    .breadcrumb{
      .crumb{
        font-size: 13px;
      }
      
    }
    .info-block-product{
      margin-top: 40px;
      .about-product{
        .block-buy{
          width: 100%;
        }
        .block-img-product{
          width: 100%;
        }
      }
      .additional-navigation{
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 767px){
  header {
    height: 180px;
    .nav-block{
      justify-content: center;
      align-items: center;
      height: 40px;
      display: flex;
      .nav-inner-block{
        display: none;
      }
      .btn-menu{
        width: 100%;
        img{
          height: 30px;
        }
      }
      .overlley{
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        left: 0;
        top: 100px;
        display: none;
        transition: all 0.3s;
      }
      .menu{
        position: absolute;
        top: 210px;
        left: 0;
        width: 100%;
        background: #000;
        background-color: #fff;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        padding: 0;
        z-index: 100;
        height: 0;
        transition: all .6s;
        overflow: hidden;
        .nav-link{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 50%;
          font-size: 14px;
          color: #000000;
          font-weight: 500;
          margin-bottom: 20px;
          padding: 0;
          img{
            max-height: 40px;
          }
        }
      }
      .menu.open {
        height: calc(70vh - 100px);
      }
    }
    .heder-block-bottom {
      .block-logo{
        a{
          img{
            width: 50%;
          }
        }
      }
      .block-call-back{
        p.call-back {
          font-size: 13px;
        }
      } 
        
    }
    .nav-block{
      height: 40px;
    }
  }

  main.index-main{
    .breadcrumb{
      display: none;
    }
    .info-block-product{
      .about-product{
        h1{
          font-size: 18px;
          margin-bottom: 15px;
        }
        .id-product{
          font-size: 13px;
        }
        .block-buy{
          margin-top: 25px;
          .price-product{
            .cost {
              font-size: 25px;
            }
          }
        }
        .block-img-product{
          .carousel-product{
            margin-top: 15px;
            height: 130px;
            .slick-slide img {
              height: 50px;
            }
          }
        }
        .text-info-about-product{
          margin-top: 50px;
          .nav-pills{
            flex-wrap: wrap;
            .nav-item {
              font-size: 15px;
              width: 50%;
              margin-bottom: 10px;
            }
          }
          .tab-content .tab-pane {
            font-size: 13px;
          }
        }
      }
    }
  }
}
